/*==========  Desktop First Method  ==========*/
/* Keyframes  */
/*

/* Large Devices, Wide Screens */

/* -------------------------------- 

Primary style

-------------------------------- */

@media only screen and (min-width: 1024px) {
  header {
    height: 200px;
  }
  header h1 {
    font-size: 3rem;
  }
}

main {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main p {
  line-height: 1.6;
  margin: 2em 0;
}

@media only screen and (min-width: 1024px) {
  main p {
    font-size: 2rem;
  }
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}


@media only screen and (max-width : 1230px) {
.wrapper-for-toolbar .container{
 	padding-left:15px;
 	padding-right: 15px;
 	}
}

@media only screen and (max-width : 1200px) {
	.main-slider-box .header-content img{
		transform: translate3d(30px, 0px, 40px);	
		max-width: 80%;
	}
	.left-hover:hover ~ .wrap-for-content .container .row .header-content img{
		transform: translate3d(45px, 0px, 40px);	
	}
	.right-hover:hover ~ .wrap-for-content .container .row .header-content img{
		transform: translate3d(15px, 0px, 40px);	
	}
	section h2{
		font-size: 38px;
	}
	section p{
		line-height: 23px;
    	font-size: 14px;
	}
	section.download p{
		font-size: 26px;
	}
	section.howItWork .portfolio_grid{
		margin-top: 12px;
	}
	.header-info-text{
		padding-top: 0px;
	}

	.header-info-text h1{
		font-size: 38px;
	}
	.wrapper-for-toolbar .container .toolbar-bot ul li a{
		padding: 7px 6px 6px 6px;
	}
}

@media only screen and (max-width : 1199px) {
	.portfolio_item .portfoli-item-cont{
		padding: 5% 5% 0% 5%;
	}
	.main-menu
	{
		display:none;
	}
	.toggle_mnu{
		display: block;
		top: 10px;
	}
	.wrapper-for-toolbar .container .toolbar-top .social-icons{
		padding-right: 30px;
	}
	.wrapper-for-toolbar .container .toolbar-top .social-icons{
     	padding-right: 65px;
	}
}

@media only screen and (max-width : 1100px) {
	.wrapper-for-toolbar .container .toolbar-top .social-icons{
		padding-right: 30px;
	}
	.wrapper-for-toolbar .container .toolbar-top .social-icons{
     	padding-right: 65px;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.main-slider-box{
		height: 650px;
	}
	.header-info-text p{
		font-size: 16px;
    	padding-top: 40px;
    	margin-bottom: 50px;
	}
	.portfolio_item .portfoli-item-cont {
		padding: 4% 4% 0% 4%;
	}
	.portfolio_item .portfoli-item-cont p{
		max-height: 45%;
		overflow: hidden;	
	}
	.header-info-text h1{
		font-size: 26px;
    	margin-bottom: 10px;
	}
	.header-info-text p{
		padding-top:0;
		margin-bottom: 30px;
	}
	.header-info-text p{
		font-size: 21px;
    	line-height: 34px;
	}
	.main-slider-box .header-content img{
		max-width: 90%;
	}
	.header-info-text .download-link-box{
		text-align: center;
	}
	.header-info-text a:last-child{
		margin-left: 0;
    	margin-top: 20px;
    	display: inline-block;
	}
	section.download .link-box a{
		margin-right: 35px;
	}
	section.download .link-box a:last-child{
		margin-top: 15px;
		margin-right: 35px;
	}
	section p{
		line-height: 27px;
	}
	section h2 {
    	font-size: 48px;
    	line-height: 48px;
	}
	section.download .link-box{
		padding-top: 0px;
	}
	section.download p{
		font-size: 24px;
	}
	section.howItWork .portfolio_grid{
		margin-top: 0px;
	}
	.portfolio_item .portfoli-item-cont h3{
		margin-bottom: 2px;
		line-height: 16px;
	}
	.portfolio_item .portfoli-item-cont p{
		line-height: 16px;
		max-height: 38%;
	}
	section.downloadBottom p{
		font-size: 24px;
	}
	section.downloadBottom .link-box a:last-child{
		margin-top: 10px;
	}
	footer .content-text, footer .author{
		display:none;
	}
}




/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.port_descr p {
    	min-height: auto;
    	margin-bottom: 20px;
	}
	.port_descr p{
		text-align: center;
	}
	.port_descr img {
    	margin-top: 20px;
    	max-width: 50%;
    	margin: 20px auto 0px;
    	display: block;
	}
	.header-info-text h1{
		font-size: 20px;
    	margin-bottom: 10px;
	}
	section.movie iframe{
		max-width:400px;
	}
	.wrapper-for-toolbar .container .toolbar-top{
		display: none;
	}
	.wrapper-for-toolbar .container .toolbar-bot{
		padding-top: 15px;
	}
	.main-slider-box .header-content img{
		transform: translate3d(0px, 0px, 40px);	
		max-width: 100%;
	}
	.left-hover:hover ~ .wrap-for-content .container .row .header-content img{
		transform: translate3d(10px, 0px, 40px);	
	}
	.right-hover:hover ~ .wrap-for-content .container .row .header-content img{
		transform: translate3d(-10px, 0px, 40px);	
	}
	.header-info-text p{
		font-size: 17px;
    	line-height: 25px;
	}
	.wrapper-for-toolbar{
		height:120px;
	}
	.header-info-text a img{
		width: 150px;
	}
	.header-info-text a:last-child{
		margin-top: 10px;
	}
	.main-slider-box {
    	height: 540px;
	}
	section h2{
		font-size: 37px;
	}
	section.sponsors .col-md-3.col-sm-3.col-xs-12
	{
		width:100%;
		flex: 0 0 100%;
    	max-width: 100%;
	}
	section.sponsors .col-md-9.col-sm-9.col-xs-12{
		display:none;
	}
	section.sponsors .modile-sponsors{
		display: block;
		width:100%;
		flex: 0 0 100%;
    	max-width: 100%;
	}
	section.download h3, section.download p{
		text-align: center;
	}
	section.download .link-box a{
		margin-right: 0px;
		margin-top: 10px;
	}
	section.download .link-box a:first-child{
		margin-right: 20px;
	}
	section.download .link-box a{
		float: none;
		display: inline-block;
	}
	section.download .link-box{
		text-align: center;
	}
	.portfolio_item .portfoli-item-cont {
    	padding: 10% 5% 0% 5%;
	}
	.portfolio_item .portfoli-item-cont h3 {
    	margin-bottom: 10px;
	}
	section.howItWork .mobile-box img{
		margin: 0 auto;
		display: block;
	}
	section.downloadBottom p{
		font-size: 23px;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px) {
	.mfp-close-btn-in .mfp-close{
		color: #333;
		right: 30px;
		top:0;
	}
	.header-info-text p {
    	padding-top: 0;
    	margin-bottom: 15px;
	}
	.header-info-text h1{
		text-align: center;
	}
	.main-slider-box .header-content img {
    	max-width: 60%;
    	margin: 0 auto;
    	display: block;
	}
	section.movie iframe{
		max-width:280px;
	}
	.main-slider-box img{
		max-width: 235px;
	}
	.wrapper-for-toolbar {
    	height: 75px;
	}
	.header-info-text{
		padding-left: 15px;
	}
	.header-info-text p {
    	font-size: 15px;
    	line-height: 19px;
    	text-align: center;
	}
	.header-info-text a img {
    	width: 120px;
	}
	.header-info-text a {
    	display: inline-block;
    }
    .main-slider-box {
    	height: 660px;
	}
	.header-info-text a:last-child {
    	margin-top: 0px;
	}
	.header-info-text a:first-child {
    	margin-right: 20px;
	}
    section.download h3{
    	font-size: 18px;
    }
    section.download p {
    	font-size: 33px;
	}
	section.download .link-box a:last-child, section.download .link-box a:first-child ,section.download .link-box a{
		margin-right: 0px;
	}
	section.download .link-box {
    	text-align: left;
	}
	section.download h3, section.download p {
    	text-align: left;
	}
	section.download .link-box {
    	text-align: left;
    	margin-top: 20px;
	}
	.portfolio_item .portfoli-item-cont p {
    	max-height: 0;
	}
	.portfolio_item .portfoli-item-cont {
    	padding: 15% 5% 0% 5%;
	}
	section.downloadBottom p {
    	font-size: 24px;
    	line-height: 35px;
	}
	section.downloadBottom .link-box {
    	margin-top: 35px;
	}
	section {
    	padding: 50px 0 35px 0;
	}
	section.downloadBottom .link-box a {
    	float: none;
    	margin-bottom: 10px;
    	display: block;
	}
	section.downloadBottom .link-box a:first-child {
    	margin-left: 0;
	}
	section.downloadBottom .link-box {
    	margin-top: 35px;
    	text-align: center;
	}
	section.downloadBottom .link-box a:last-child{
		margin-bottom: 0px;
	}
	.mobile-box {
		margin-top: 20px;
	}
}
@media only screen and (max-width : 530px) {
	.mfp-close-btn-in .mfp-close{
		right: 20px;
	}
}
@media only screen and (max-width : 510px) {
	.main-slider-box {
    	height: 615px;
	}
	.mfp-close-btn-in .mfp-close{
		right: 10px;
	}
}

@media only screen and (max-width : 420px) {
	.main-slider-box {
    	height: 560px;
	}
	.mfp-close-btn-in .mfp-close{
		right: 5px;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


